extends layout.pug

block content
	section#content
		//- ul
		//- 	each color in colors
		//- 		li= color
		h2= cardPrompt
		if hint
			p
				i Hint: #{ promptHint }
		//- else
		//- 	p (There is no hint)