extends layout.pug

block content
	section#content
		h2 Bonjour Student! 🇫🇷
		form(action='/hello', method='post')
			label Please enter your name:
				input(type='text', name='username')
			button(type='submit') Submit